<p><b><%= @moderator.name %></b>, здравствуйте!</p>

<p> В фонд <b><%= @organization.title %> зарегестрировался новый волонтер <%= @user.name %></b></p>
<p> Пройдите по <%= link_to 'ссылке', edit_admin_user_url(@resource, edit_admin_user: @user.id) %> для подтверждения его участия.</p>
<p>
  С уважением,<br/>
  Команда HelpHub<br/>
</p>

<p>Вопросы? Напишите нам на hello@helphub.ru</p>
