<% if @user.name.present? %>
  <p><b><%= @user.name %></b>, здравствуйте!</p>
<% else %>
  <p>Здравствуйте!</p>
<% end %>
<% #TODO: Fill in the text %>

<p>Вопросы? Напишите нам на <a href="mailto:hello@helphub.ru">hello@helphub.ru</a></p>
