<div style="position: absolute; top: 0; left: 0; width: 100%;height: 100%;overflow: hidden;">
  <div class="container">
    <p>
      <h1 style="text-align:center">Вы подтвердили вашу регистрацию!</h1>
      <!-- <%#= render "shared/registration_steps", step: :waiting_for_moderator %> -->
    </p>
    
    <div>
      <p>
        Теперь ваши данные отправлены в фонд "<%= params[:organization] %>".
        Координатор свяжется с вами по телефону или имейлу в течение следующих нескольких дней.
      </p>
      <p>
        По любым вопросам пишите <a href="mailto:hello@helphub.ru">hello@helphub.ru</a>
      </p>
      <%= render partial: 'svg/logo' %>
    </div>
  <div>
<div>