<h4><%= t(".invite") %></h4>
<div class="input-group ml-0">
  <input class="form-control" type="text" disabled value=<%= new_user_registration_url(organization_id: organization.id)%>>
  <!--
  // <div class="input-group-append">
  //   <span class="input-group-text" id="copy-invite-link"><%= t(".copy") %></span>
  // </div>
  --->
</div>