<h4>Дополнительные поля</h4>
<p>
  <%= f.simple_fields_for :custom_fields do |custom_field| %>
    <%= custom_field.input :name %>
    <%= custom_field.input '_destroy', as: :boolean, label: 'Удалить поле' %>
  <% end %>
  <div class="mt-1 links">
    <%= link_to_add_association 'Добавить поле', f, :custom_fields, { class: 'btn btn-sm btn-primary' } %>
  </div>
</p>
