<%= f.input :help_request_kind_id, collection: help_request_kinds, include_blank: false, input_html: { class: 'js-help-request-kind-selector' } %>
<div id='js-custom-fields'>
  <div id="js-custom-fields-container" data-values='<%= @custom_values.to_json %>'>
    <custom-fields-panel 
      :request-path="'<%= custom_fields_admin_help_request_path(f.object.try(:id) || 0) %>'"
      empty-point-error-message="<%= I18n.t("help_request.errors.empty_point") %>"
    />
  </div>
</div>