<p><%= @resource.name %>, здравствуйте!<p>

<p>Приглашаем вас присоединиться к платформе для благотворительных организаций HelpHub.</p>

<p>Чтобы создать аккаунт, перейдите по  <%= link_to 'ссылке', accept_invitation_url(@resource, invitation_token: @token) %>.</p>

<p>Если вы не хотите создавать аккаунт, проигнорируйте это письмо. Учетная запись не будет создана, пока вы не перейдете по ссылке и не установите пароль.<p>

<p>
  С уважением,<br/>
  Команда HelpHub<br/>
  <%= link_to 'helphub.ru', 'http://helphub.ru' %>
<p>