<p>Добро пожаловать <%= @email %>!</p>

<p>Администратор Фонда <%= organization.title %> подтвердил Ваше участие, можно начинать работу:</p>

<p><%= link_to 'Войти', new_session_path(resource_name) %></p>