<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку на смену вашего пароля. Это можно осуществить по ссылке ниже: </p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы, не делали этого, то, пожалуйста, проигнорируйте это письмо.</p>
<p>Ваш пароль не изменится, пока вы не перейдете по ссылке выше или не запросите новую смену пароля.</p>
